$track-color: #9E7978;
$font-nino: 'BPG Nino Mkhedruli Book', sans-serif;
$font-satitulo: 'GL Satitulo', sans-serif;
$color-white : #fff;

@mixin transform($property){
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

%box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition($property){
  -webkit-transition: $property;
  -moz-transition: $property;
  -ms-transition: $property;
  -o-transition: $property;
  transition: $property;
}


@mixin border-radius($property){
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  border-radius: $property;
}

@function px-to-em($font-size){
  @return #{$font-size /16}em;
}


@font-face {
  font-family: 'GL Satitulo';
  src: url('../../fonts/GLSatitulo-Regular.woff2') format('woff2'),
  url('../../fonts/GLSatitulo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BPG Nino Mkhedruli Book';
  src: url('../../fonts/BPGNinoMkhedruliBook.woff2') format('woff2'),
  url('../../fonts/BPGNinoMkhedruliBook.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@mixin keyframe($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}


@mixin animation ($delay, $duration, $animation,$timing) {
  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-delay: $delay;

  -webkit-animation-name: $animation;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $timing;
  -webkit-animation-delay: $delay;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-timing-function: $timing;

}