@font-face {
  font-family: "GL Satitulo";
  src: url("../../fonts/GLSatitulo-Regular.woff2") format("woff2"), url("../../fonts/GLSatitulo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BPG Nino Mkhedruli Book";
  src: url("../../fonts/BPGNinoMkhedruliBook.woff2") format("woff2"), url("../../fonts/BPGNinoMkhedruliBook.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
.video-player .controls .progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.video-player {
  z-index: 1000000;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.video-player .play {
  position: absolute;
  top: -30px;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 25px;
  margin-left: 15px;
  border-color: transparent transparent transparent #9E7978;
  transition: 250ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 12px 0 12px 20px;
}
.video-player .play.paused {
  border-style: double;
  border-width: 0 0 0 25px;
}
.video-player .controls {
  width: 100%;
}
.video-player .controls .progress {
  display: inline-block;
  cursor: pointer;
  height: 12px;
  position: relative;
  width: 100%;
  background-color: transparent;
  vertical-align: bottom;
  border: 1px solid #9E7978;
  box-sizing: border-box;
}
.video-player .controls .progress .track {
  background-color: #9E7978;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
.video-player .controls .progress .track:after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 100vh;
  position: absolute;
  right: -2px;
  bottom: 0;
  background: #9E7978;
}
.video-player .controls .progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body, html {
  overflow-x: hidden;
  height: 100vh;
  min-height: 600px;
  position: relative;
}
.panorama {
  position: absolute;
  background: url(../../image/city.jpg) no-repeat;
  background-size: 2400px;
  background-position: center right;
  height: 100vh;
  width: 2400px;
  right: 0px;
  top: 0px;
  animation: panorama 145s infinite alternate;
}

.bg-black {
  content: "";
  display: block;
  background: url(../../image/bg-black.jpg);
  /*   background-size: 100%; */
  background-size: 2800px;
  background-position: center right;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 1;
  transition: opacity 19s;
  z-index: 30;
}
.bg-black.fade-out {
  opacity: 0;
}
.bg-black-hole {
  background: url(../../image/bg-black-hole-02.png);
  background-size: 2800px;
  background-position: center right;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
}
.the-end {
  background: url(../../image/betoni.png) no-repeat;
  background-size: 800px;
  background-position: center right;
  transform: translate(0,800px);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0px;
  transition: transform 13s;
}
.the-end.slide-up {
  transform: translate(0,0px);
}
body, .panorama, .bg-black, .bg-black-hole, .flex-align, .main-content, main, .track:after {
  min-height: 550px;
}
body .background .overlay {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 60;
/*   background: rgba(2, 2, 2, 0.8); */
}
body .background .overlay .main-content {
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  -moz-transition: opacity 1000ms;
  -ms-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  transition: opacity 1000ms;
}
body .background .overlay .main-content .sound-timing {
  position: relative;
  padding: 15px;
}
body .background .overlay .main-content .sound-timing .sound-button {
  display: inline-block;
  width: 55px;
  height: 39px;
}
body .background .overlay .main-content .sound-timing .sound-button .cls-1 {
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  cursor: pointer;
  opacity: 0.5;
}
body .background .overlay .main-content .sound-timing .sound-button .cls-1:hover {
  opacity: 1;
}
body .background .overlay .main-content .sound-timing .sound-button .cls-1.active {
  opacity: 1;
}
body .background .overlay .main-content .sound-timing .timing,
.read-more {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  bottom: -55px;
  left: -26px;
}
.read-more {
  position: absolute;
  color: #fff;
  z-index: 1000;
  top: 100px;
  font-family: "BPG Nino Mkhedruli Book", sans-serif;
}
body .background .overlay .main-content .read-more {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  bottom: -55px;
  left: -26px;
}
body .background .overlay .main-content .sound-timing .timing span {
  font-family: "BPG Nino Mkhedruli Book", sans-serif;
  font-size: 1.5em;
  color: #9E7978;
  width: 50px;
  display: inline-block;
}
body .background .overlay .main-content .sound-timing .timing span.delimiter {
  width: 10px;
}
main {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.video-player .controls .progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.welcome-cont {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-cont .wc-title {
  font-family: "GL Satitulo", sans-serif;
  color: #fff;
  text-align: center;
  width: 100%;
}
.welcome-cont .wc-title h1 {
  font-size: 3.75em;
  display: inline-block;
  width: 600px;
  font-weight: 100;
}
.welcome-cont .wc-title p {
  margin-top: 20px;
  font-family: "BPG Nino Mkhedruli Book", sans-serif;
  font-size: 0.9em;

}
.welcome-cont .wc-title.out {
  animation: fade-out-top 1000ms ease-out;
}
.welcome-cont .wc-play {
  width: 120px;
  height: 100px;
  background: url(../../image/border.png);
  background-size: 100%;
  position: relative;
  margin: 70px 0;
  cursor: pointer;
  visibility: hidden;
}
.welcome-cont .wc-play.active {
    visibility: visible;
}
.welcome-cont .wc-play:before {
  content: "";
  width: 120px;
  height: 100px;
  background: url(../../image/loader.gif);
  background-size: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  cursor: pointer;
  visibility: visible;
}
.welcome-cont .wc-play.active:before {
    opacity: 0;
}
.welcome-cont .wc-play .wc-button {
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 40px;
  margin-left: 5px;
  border-color: transparent transparent transparent #9E7978;
  transition: 250ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 20px 0 20px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  -o-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}
.welcome-cont .wc-play.out {
  display: none;
}
.welcome-cont .wc-text {
  display: inline-block;
  width: auto;
  text-align: center;
    max-width: 600px;
}
.welcome-cont .wc-text p {
  font-family: "BPG Nino Mkhedruli Book", sans-serif;
  font-size: 0.9em;
  line-height: 22px;
  color: #fff;
  margin: 10px;
}
.welcome-cont .wc-text.out {
  animation: fade-out-bottom 1000ms ease-out;
}

/* @keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
    display: none;
  }
} */
@keyframes fade-out-top {
  from {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-100vh);
    -moz-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    -o-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0;
    display: none;
  }
}
@keyframes fade-out-bottom {
  from {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(100vh);
    -moz-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    -o-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0;
    display: none;
  }
}
 @keyframes panorama{
  from {
    transform: translate(1800px, 0);
  }
  to {
    transform: translate(0px, 0);
  }
}
/*@keyframes map{
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(15px, 20px);
  }
} */

.video-player .controls .progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section {
  position: relative;
  z-index: 50;
}
section.part-1 {
  display: none;
}
section.part-1.active {
  display: block;
}
section.part-1.active .flex-align {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 170px 0 0;
  max-width: 1900px;
}
section.part-1.active .flex-align .headings {
  font-family: "GL Satitulo", sans-serif;
  color: #fff;
  font-weight: normal;
  padding-right: 80px;
  max-width: 400px;
  font-size: 40px;
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -ms-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
  opacity: 1;
}
section.part-1.active .flex-align .headings.main-heading {
  min-width: 200px;
}
section.part-1.active .flex-align h3 {
  color: #fff;
  padding-right: 0;
  width: 400px;
  padding-left: 70px;
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -ms-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
  opacity: 1;
}
section.part-1.active .flex-align h3 .inner-text {
  font-weight: normal;
  font-size: 16px;
  font-family: "BPG Nino Mkhedruli Book", sans-serif;
}
section.part-1.active .flex-align h3 .q-sign.before {
  content: '"';
  display: block;
  font-size: 40px;
}
section.part-1.active .flex-align h3 .q-sign.after {
  content: '"';
  display: block;
  font-size: 40px;
  align-self: auto;
  margin-top: 30px;
  padding-right: 100px;
  float: right;
}
.outline {
  content: "";
  background-image: url("../../image/outline.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 500px;
  height: 200px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 20%;
}
.outline.fade-out {
  opacity: 0;
}
footer {
    position: absolute;
    bottom: 35%;
    left: 15px;
    width: 20px;
    font-size: 12px;
    -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 100;
  font-family: "BPG Nino Mkhedruli Book", sans-serif;
  font-size: 12px;
  white-space: nowrap;
}
footer a {
    color: #9e7978;
    text-decoration: none;
    transition: color .3s ease-out;
}
footer a:hover {
    color: #b3807f;
    text-decoration: none;
}
.read-article{

}
@media only screen and (max-width: 1080px) {
  section.part-1.active .flex-align .headings.main-heading {
    display: none;
  }
}
@media only screen and (max-width: 880px) {
  section.part-1.active .flex-align .headings.main-heading {
    display: none;
  }
  body, .panorama, .bg-black, .bg-black-hole, .flex-align, .main-content, main, .track:after {
    min-height: 100%;
  }
  .welcome-cont .wc-title h1 {
    font-size: 2em;
    display: inline-block;
    width: 100%;
    font-weight: 100;
  }
  .panorama, .bg-black, .bg-black-hole {
  background-size: 2000px;
  }
  section.part-1.active .flex-align {
    padding: 0 70px 0 0;
  }
  section.part-1.active .flex-align .headings {

    padding-right: 40px;
  }
  section.part-1.active .flex-align h3 {
    padding-right: 40px;
    width: 280px;
    padding-left: 70px;
  }
}
@media only screen and (max-width: 630px) {
  .welcome-cont .wc-title h1 {
    font-size: 2em;
  }
  .panorama, .bg-black, .bg-black-hole {
  background-size: 2000px;
  }
  section.part-1.active .flex-align {
    padding: 0 10% 0 0;
  }
  section.part-1.active .flex-align .headings {

    padding-right: 10%;
  }
  section.part-1.active .flex-align h3 {
    padding-right: 10%;
    padding-left: 5%;
  }
}
@media only screen and (max-width: 580px) {
  .welcome-cont .wc-title h1 {
    font-size: 2em;
    display: inline-block;
    width: 100%;
    font-weight: 100;
  }
  .bg-black, .bg-black-hole {
  background-size: 1600px;
  }
  section.part-1.active .flex-align {
    padding: 0 0% 0 0;
  }
}
@media only screen and (max-width: 480px) {
  .welcome-cont .wc-title h1 {
    font-size: 2em;
    display: inline-block;
    width: 100%;
    font-weight: 100;
  }
  .bg-black, .bg-black-hole {
  background-size: 1500px;
  }
    section.part-1.active .flex-align .headings {padding-right: 6%;}
  section.part-1.active .flex-align h3 {
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media only screen and (max-width: 580px) {
  .welcome-cont .wc-title h1 {
    font-size: 2em;
    display: inline-block;
    width: 100%;
    font-weight: 100;
  }
  .bg-black, .bg-black-hole {
  background-size: 1600px;
  }
  section.part-1.active .flex-align {
    padding: 0 0% 0 0;
  }
}
@media only screen and (max-width: 415px) {
  section.part-1.active .flex-align .headings {
    padding-right: 5%;
  }
    .panorama, .bg-black, .bg-black-hole {
  /* background-size: 1400px; */
  }
      section.part-1.active .flex-align .headings {
    width: 80px;
    padding-left: 60px;
  }
    .panorama, .bg-black, .bg-black-hole {
    min-height: 100%;
    padding-right: 30px;
  }
}

.class-hidden{
  visibility: hidden;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
