.video-player .controls .progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "GL Satitulo";
  src: url("../../fonts/GLSatitulo-Regular.woff2") format("woff2"), url("../../fonts/GLSatitulo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BPG Nino Mkhedruli Book";
  src: url("../../fonts/BPGNinoMkhedruliBook.woff2") format("woff2"), url("../../fonts/BPGNinoMkhedruliBook.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
.video-player {
  z-index: 1000000;
  position: absolute;
  bottom: -2px;
  width: 100%;
}
.video-player .play {
  position: absolute;
  top: -50px;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 47px;
  margin-left: 15px;
  border-color: transparent transparent transparent #9E7978;
  transition: 250ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 22px 0 22px 31px;
}
.video-player .play.paused {
  border-style: double;
  border-width: 0 0 0 25px;
}
.video-player .controls {
  width: 100%;
}
.video-player .controls .progress {
  display: inline-block;
  cursor: pointer;
  height: 12px;
  position: relative;
  width: 100%;
  background-color: transparent;
  vertical-align: middle;
  border: 1px solid #9E7978;
}
.video-player .controls .progress .track {
  background-color: #9E7978;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
.video-player .controls .progress .track:after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 100vh;
  position: absolute;
  right: -2px;
  bottom: 0;
  background: #9E7978;
}

.video-player .controls .progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "GL Satitulo";
  src: url("../../fonts/GLSatitulo-Regular.woff2") format("woff2"), url("../../fonts/GLSatitulo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BPG Nino Mkhedruli Book";
  src: url("../../fonts/BPGNinoMkhedruliBook.woff2") format("woff2"), url("../../fonts/BPGNinoMkhedruliBook.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  overflow: hidden;
  background: url(../../image/city.png) no-repeat;
  background-size: 100%;
  background-position-y: -150px;
}
body .background {
  background: url(../../image/back1.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
body .background .overlay {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 2, 0.8);
}
body .background .overlay .main-content {
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  -moz-transition: opacity 1000ms;
  -ms-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  transition: opacity 1000ms;
}
body .background .overlay .main-content .sound-timing {
  position: relative;
  padding: 15px;
}
body .background .overlay .main-content .sound-timing .sound-button {
  display: inline-block;
  width: 55px;
  height: 39px;
}
body .background .overlay .main-content .sound-timing .sound-button .cls-1 {
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  cursor: pointer;
  opacity: 0.5;
}
body .background .overlay .main-content .sound-timing .sound-button .cls-1:hover {
  opacity: 1;
}
body .background .overlay .main-content .sound-timing .sound-button .cls-1.active {
  opacity: 1;
}
body .background .overlay .main-content .sound-timing .timing {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  bottom: -55px;
  left: -26px;
}
body .background .overlay .main-content .sound-timing .timing span {
  font-family: "BPG Nino Mkhedruli Book", sans-serif;
  font-size: 1.5em;
  color: #9E7978;
  width: 50px;
  display: inline-block;
}
body .background .overlay .main-content .sound-timing .timing span.delimiter {
  width: 10px;
}

.video-player .controls .progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "GL Satitulo";
  src: url("../../fonts/GLSatitulo-Regular.woff2") format("woff2"), url("../../fonts/GLSatitulo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BPG Nino Mkhedruli Book";
  src: url("../../fonts/BPGNinoMkhedruliBook.woff2") format("woff2"), url("../../fonts/BPGNinoMkhedruliBook.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
.welcome-cont {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.welcome-cont .wc-title {
  font-family: "GL Satitulo", sans-serif;
  color: #fff;
  text-align: center;
}
.welcome-cont .wc-title h1 {
  font-size: 3.75em;
  display: inline-block;
  width: 600px;
  font-weight: 100;
}
.welcome-cont .wc-title p {
  margin-top: 20px;
  font-family: "BPG Nino Mkhedruli Book", sans-serif;
  font-size: 1.125em;
}
.welcome-cont .wc-title.out {
  animation: fade-out-top 1000ms ease-out;
}
.welcome-cont .wc-play {
  width: 120px;
  height: 100px;
  background: url(../../image/border.png);
  background-size: 100%;
  display: inline-block;
  position: relative;
  margin: 80px 0;
  cursor: pointer;
}
.welcome-cont .wc-play .wc-button {
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 40px;
  margin-left: 5px;
  border-color: transparent transparent transparent #9E7978;
  transition: 250ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 20px 0 20px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  -o-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}
.welcome-cont .wc-play.out {
  animation: spinning 1000ms linear;
}
.welcome-cont .wc-text {
  display: inline-block;
  width: auto;
  text-align: center;
}
.welcome-cont .wc-text p {
  font-family: "BPG Nino Mkhedruli Book", sans-serif;
  font-size: 1.375em;
  color: #fff;
  margin: 10px;
}
.welcome-cont .wc-text.out {
  animation: fade-out-bottom 1000ms ease-out;
}

@keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
    display: none;
  }
}
@keyframes fade-out-top {
  from {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-100vh);
    -moz-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    -o-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0;
    display: none;
  }
}
@keyframes fade-out-bottom {
  from {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(100vh);
    -moz-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    -o-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0;
    display: none;
  }
}
.video-player .controls .progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "GL Satitulo";
  src: url("../../fonts/GLSatitulo-Regular.woff2") format("woff2"), url("../../fonts/GLSatitulo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BPG Nino Mkhedruli Book";
  src: url("../../fonts/BPGNinoMkhedruliBook.woff2") format("woff2"), url("../../fonts/BPGNinoMkhedruliBook.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
section {
  position: relative;
}
section.part-1 {
  display: none;
}
section.part-1.active {
  display: block;
}
section.part-1.active .flex-align {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 140px;
}
section.part-1.active .flex-align .headings {
  font-family: "GL Satitulo", sans-serif;
  color: #fff;
  font-weight: normal;
  padding-right: 80px;
  max-width: 400px;
  font-size: 40px;
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -ms-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
  opacity: 1;
}
section.part-1.active .flex-align .headings.main-heading {
  min-width: 200px;
}
section.part-1.active .flex-align h3 {
  color: #fff;
  padding-right: 0;
  max-width: 400px;
  padding-left: 70px;
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -ms-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
  opacity: 1;
}
section.part-1.active .flex-align h3 .inner-text {
  font-weight: normal;
  font-size: 16px;
  font-family: "BPG Nino Mkhedruli Book", sans-serif;
  line-height: 26px;
}
section.part-1.active .flex-align h3 .q-sign.before {
  content: '"';
  display: block;
  font-size: 40px;
}
section.part-1.active .flex-align h3 .q-sign.after {
  content: '"';
  display: block;
  font-size: 40px;
  align-self: auto;
  margin-top: 30px;
  padding-right: 100px;
  float: right;
}
section.part-1:after {
  content: "";
  background-image: url("../../image/outline.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 500px;
  height: 200px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 20%;
}

/*# sourceMappingURL=style.css.map */
